.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;

    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    margin: 0 auto;
    top: 150px;
    width: 85%;

    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    border-radius: 20px;
}

.poster {
    margin: 20px;
    border-radius: 20px;
    width: 100%;

    position: relative;
}

.title {
    margin-left: 100px;
    margin-top: 20px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: 50px;
}
.info p {
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
    line-height: 1.5;
}

.info h3 {
    font-size: 16px;
    margin-left: 100px;
    margin-top: 10px;
    line-height: 1.5;
}
.info h4 {
    font-size: 16px;
    margin-left: 100px;
    margin-top: 20px;
}
.genres {
    display: flex;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
}

.text {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    color: white;
}

.text:hover {
    background-color: rgba(11, 218, 207, 0.2);
}

.similar {
    position: relative;
    width: 100%;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 50px;
    max-width: 1200px;
    height: auto;
    overflow: hidden;
    justify-content: center;

    align-items: center;
}

.cast {
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.cast span {
    margin: 0;
    padding: 0;
}
.cast p {
    margin: 15px;
    padding: 0;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
    width: 180px;
    height: 60px;
}
.play h3 {
    margin: 0;
    color: black;
    font-size: 24px; /* 텍스트 크기를 조정하여 중앙 정렬을 쉽게 합니다 */
}
.play:hover {
    opacity: 0.8;
}

/* 반응형 디자인 적용 */

@media (max-width: 1800px) {
    .container {
        grid-template-columns: 1fr;
        width: 95%;
    }

    .poster {
        width: 180px;
        height: 270px;
    }
    .similar {
        width: 50%;
    }
}
@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
        width: 95%;
    }

    .poster {
        width: 180px;
        height: 270px;
    }
    .similar {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .poster {
        width: 160px;
        height: 240px;
    }
}

@media (max-width: 600px) {
    .poster {
        width: 140px;
        height: 210px;
    }
}

@media (max-width: 480px) {
    .poster {
        width: 120px;
        height: 180px;
    }
}
