.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow-x: auto;
    border: 3px solid red;
}
.link {
    color: rgb(178, 177, 177);
}
.link:hover {
    color: white;
}
.title {
    font-size: 24px;
    margin-bottom: 20px;
}
.poster {
    border-radius: 10px;
    border: 1px solid gray;
    width: 200px;
    height: 300px;
    gap: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;
}
.poster:hover {
    opacity: 0.4;
}
.swiperContainer {
    width: 100%;
    padding: 20px;
}

.poster + h2 {
    display: none;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}

.poster:hover + h2 {
    display: block;
}
